{% set sidebar_active = 'food' %}
{% extends 'Layout/base-modules.html.twig' %}

{% block title %}
    Ludine - Create container
{% endblock %}

{% block context %}
    {{ {
        "id": id,
        "get_path": path('food_stock_containers_get', {'id': id}),
        "save_path": path('food_stock_containers_save'),
        "model": "container",
        "fields": [
            {"name": "name", "type": "char"},
            {"name": "description", "type": "char"},
            {"name": "ref", "type": "char"},
            {"name": "cool", "type": "bool"},
            {"name": "nbFloor", "type": "int"},
            {"name": "floors", "type": "action", "action": "getFloors"}
        ]
    } | json_encode | raw }}
{% endblock %}

{% block customjavascripts %}
    <script src="{{ asset('js/Food/Stock/containers-create.js') }}"></script>
{% endblock %}

{% block main %}
    {% include 'Widget/module-header.html.twig' with {
        header: {
            h1: 'Nourriture',
            h2: {
                'Repas': {
                    selected: false,
                    url: path('food_meal')
                },
                'Stock': {
                    selected: true,
                    url: path('food_stock')
                }
            },
            h3: {
                'Conteneurs': {
                    selected: true,
                    url: path('food_stock_containers')
                },
                'Produits': {
                    selected: false,
                    url: path('food_stock_products')
                },
                'Produits stockés': {
                    selected: false,
                    url: path('food_stock_stocked_products')
                }
            }
        }
    } %}

    <div id="content" class="form">
        <div id="content-header">
            <div class="group">
                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Nouveau',
                        'url': path('food_stock_container_create'),
                        'type': 'primary',
                        'action_type': 'redirect'
                    }
                } %}

                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Supprimer',
                        'url': path('food_stock_container_remove', {'id': id}),
                        'type': 'secondary',
                        'action_type': 'redirect',
                        'id': 'remove'
                    }
                } %}

                {% include 'Widget/button.html.twig' with {'btn': {'action_type': 'save'}} %}
            </div>
        </div>

        {{ form_start(form) }}
        <input type="hidden" name="id" value="{{ id }}">
        {% if nbFloor is defined %}
            <input type="hidden" name="nbFloor" value="{{ nbFloor }}">
        {% endif %}
        <div class="group">
            <div class="field">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="field">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="field">
                {{ form_label(form.ref) }}
                {{ form_widget(form.ref) }}
            </div>
            <div class="field">
                {{ form_label(form.cool) }}
                {{ form_widget(form.cool) }}
            </div>
            <div class="field">
                {{ form_label(form.nbFloor) }}
                {{ form_widget(form.nbFloor) }}
            </div>
        </div>
        <div class="group">
            <div class="kanban">
                <div id="kanban-container">
                    {% if nbFloor is defined %}
                        {% for card in floors %}
                            <div id="{{ card.id }}" class="card" style="width: 100%">
                                <div class="group" style="max-width: 100% !important;">
                                    <div class="field">
                                        <label class="h1">Étage {{ card.id }}</label>
                                    </div>
                                    <div class="field">
                                        <label for="description">Description</label>
                                        <input type="text" id="description" value="{{ card.description }}">
                                    </div>
                                    <div class="field">
                                        <label for="locations">Nombre d'emplacement</label>
                                        <input type="number" id="locations" value="{{ card.locations }}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}