{% set sidebar_active = 'settings' %}
{% extends 'Layout/base-modules.html.twig' %}

{% block title %}
    Ludine - Create share
{% endblock %}

{% block context %}
    {{ {
        "id": id,
        "get_path": path('settings_general_shares', {'id': id}),
        "save_path": path('settings_general_shares_save'),
        "model": "share",
        "fields": [
            {"name": "name", "type": "char"},
            {"name": "description", "type": "text"},
            {"name": "entities", "type": "relational"},
            {"name": "members", "type": "relational"},
            {"name": "active", "type": "bool"},
        ]
    } | json_encode | raw }}
{% endblock %}

{% block main %}
    {% include 'Widget/module-header.html.twig' with {
        header: {
            h1: 'Paramètres',
            h2: {
                'Profil': {
                    selected: false,
                    url: path('settings_profile')
                },
                'Général': {
                    selected: true,
                    url: path('settings_general')
                }
            },
            h3: {
                'Partages': {
                    selected: true,
                    url: path('settings_general_shares')
                },
            }
        }
    } %}

    <div id="content" class="form">
        <div id="content-header">
            <div class="group">
                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Nouveau',
                        'url': path('settings_general_share_create'),
                        'type': 'primary',
                        'action_type': 'redirect'
                    }
                } %}

                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Supprimer',
                        'url': path('settings_general_share_remove', {'id': id}),
                        'type': 'secondary',
                        'action_type': 'redirect',
                        'id': 'remove'
                    }
                } %}

                {% include 'Widget/button.html.twig' with {'btn': {'action_type': 'save'}} %}
            </div>
        </div>

        {{ form_start(form) }}
        <input type="hidden" name="id" value="{{ id }}">
        {% if nbFloor is defined %}
            <input type="hidden" name="nbFloor" value="{{ nbFloor }}">
        {% endif %}
        <div class="group" style="max-width: 100% !important;">
            <div class="field">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="field">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="field">
                {{ form_label(form.entities) }}
                {{ form_widget(form.entities) }}
            </div>
            <div class="field">
                {{ form_label(form.members) }}
                {{ form_widget(form.members) }}
            </div>
            <div class="field">
                {{ form_label(form.active) }}
                {{ form_widget(form.active) }}
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}