{% extends 'Layout/Authentication/authentication.html.twig' %}

{% block title %}
    Set password
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="google-email">
        {{ user.email }}
    </div>
    {{ form_widget(form.username) }}
    <div>
        {{ form_widget(form.password.first) }}
        <img src="{{ asset('img/svg/eye-closed.svg') }}" class="eye">
    </div>
    <div>
        {{ form_widget(form.password.second) }}
        <img src="{{ asset('img/svg/eye-closed.svg') }}" class="eye">
    </div>
    <button class="button">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
