{% extends 'Layout/Authentication/authentication.html.twig' %}

{% block title %}
    Réinitialisation de mot de passe
{% endblock %}

{% block additionalStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Authentication/reset-password.css') }}">
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {% if info %}
        <span class="info">Si votre email est dans notre base de donnée, vous recevrez un mail sous peu</span>
    {% endif %}
    <span class="text">Réinitialiser votre mot de passe</span>
    {{ form_widget(form.email) }}
    <button class="button">Envoyer</button>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <a href="{{ path('app_login') }}">Déjà un compte ?</a>
    <a href="{{ path('app_register') }}">Pas encore de compte ?</a>
    {{ form_end(form) }}
{% endblock %}

