{% extends 'Layout/base-modules.html.twig' %}

{% block title %}
    Ludine | Create dish
{% endblock %}

{% block customstylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Food/Meal/dish.css') }}">
{% endblock %}

{% block context %}
    {% set context_trees = '' %}
    {% if trees is defined %}
        {% set context_trees = trees %}
    {% endif %}
    {{ {
        "id": id,
        "save_path": path('food_meal_dish_save'),
        "model": "dish",
        "fields": [
            {"name": "name", "type": "char"},
            {"name": "description", "type": "char"},
            {"name": "instructions", "type": "text"},
            {"name": "preparationTime", "type": "int"},
            {"name": "cookingTime", "type": "int"},
            {"name": "difficulty", "type": "int"},
            {"name": "tags", "type": "relational"},
            {"name": "ingredients", "type": "relational"},
            {"name": "dropRate", "type": "float"},
        ],
        "trees": trees
    } | json_encode | raw }}
{% endblock %}

{% block main %}
    {% include 'Widget/module-header.html.twig' with {
        header: {
            h1: 'Nourriture',
            h2: {
                'Repas': {
                    selected: true,
                    url: path('food_meal')
                },
                'Stock': {
                    selected: false,
                    url: path('food_stock')
                }
            },
            h3: {
                'Tableau de bord': {
                    selected: false,
                    url: path('food_meal_dashboard')
                },
                'Plats': {
                    selected: true,
                    url: path('food_meal_dish')
                },
                'Tags': {
                    selected: false,
                    url: path('food_meal_tag')
                },
                'Configuration': {
                    selected: false,
                    url: path('food_meal_config')
                }
            }
        }
    } %}

    <div id="content" class="form">
        <div id="content-header">
            <div class="group">
                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Nouveau',
                        'url': path('food_meal_dish_create'),
                        'type': 'primary',
                        'action_type': 'redirect'
                    }
                } %}

                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Supprimer',
                        'url': path('food_meal_dish_remove', {'id': id}),
                        'type': 'secondary',
                        'action_type': 'redirect',
                        'id': 'remove'
                    }
                } %}

                {% include 'Widget/button.html.twig' with {'btn': {'action_type': 'save'}} %}
            </div>
        </div>

        {{ form_start(form) }}
        <input type="hidden" name="id" value="new">
        <div class="group" style="max-width: 100% !important;">
            <div class="field">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="custom">
                <div class="group">
                    <div class="field">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.tags) }}
                        {{ form_widget(form.tags) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.preparationTime) }}
                        {{ form_widget(form.preparationTime) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.cookingTime) }}
                        {{ form_widget(form.cookingTime) }}
                    </div>
                </div>
                <div class="group">
                    <div class="field">
                        {{ form_label(form.difficulty) }}
                        {{ form_widget(form.difficulty) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.dropRate) }}
                        {{ form_widget(form.dropRate) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.instructions) }}
                        {{ form_widget(form.instructions) }}
                    </div>
                </div>
            </div>
            <div class="field">

                <div style="display: flex; gap: var(--medium); align-items: center;">
                    <label for="dish_ingredients">Ingrédients</label>

                    {% set editable = app.request ? app.request.query.get('editable') : null %}
                    {% set redirect_params = id != 'new' ? {'id': id} : {} %}
                    {% if app.request and app.request.query.has('editable') and editable != 'new' %}
                        {% include 'Widget/button.html.twig' with {
                            'btn': {
                                'name': 'Supprimer',
                                'url': path('food_meal_ingredient_remove', {
                                    'id': editable,
                                    'redirect': app.request.attributes.get('_route'),
                                    'redirect_params': redirect_params
                                }),
                                'type': 'secondary',
                                'action_type': 'redirect',
                                'id': 'remove'
                            }
                        } %}
                    {% endif %}
                </div>
                <div id="dish_ingredients" data-widget="tree"></div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

