<header>
    <div id="top">
        <h1>{{ header.h1 }}</h1>
        <div>
            {% for name, infos in header.h2 %}
                <a href="{{ infos.url }}"><h2 class="{{ infos.selected ? 'selected' : '' }}">{{ name }}</h2></a>
            {% endfor %}
        </div>
    </div>
    <div id="bottom">
        {% for name, infos in header.h3 %}
            <a href="{{ infos.url }}"><h3 class="{{ infos.selected ? 'selected' : '' }}">{{ name }}</h3></a>
        {% endfor %}
    </div>
</header>