<aside>
    <div class="logo">
        <img src="{{ asset('img/logo.svg') }}" alt="Lodo de Ludine">
        <span>Ludine</span>
    </div>
    <nav>
        <a {# href="/dashboard" #} class="{{ active == "dashboard" ? "active" : '' }} disabled"><img src="{{ asset('img/svg/sidebar/dashboard.svg') }}">Dashboard</a>
        <a {# href="/account" #} class="{{ active == "account" ? "active" : '' }} disabled"><img src="{{ asset('img/svg/sidebar/account.svg') }}">Comptabilité</a>
        <a {# href="/calendar" #} class="{{ active == "calendar" ? "active" : '' }} disabled"><img src="{{ asset('img/svg/sidebar/calendar.svg') }}">Planning</a>
        <a {# href="/timer" #} class="{{ active == "timer" ? "active" : '' }} disabled"><img src="{{ asset('img/svg/sidebar/timer.svg') }}">Timer</a>
        <a href="/food" class="{{ active == "food" ? "active" : '' }}"><img src="{{ asset('img/svg/sidebar/food.svg') }}">Nourriture</a>
        <a {# href="/project" #} class="{{ active == "project" ? "active" : '' }} disabled"><img src="{{ asset('img/svg/sidebar/project.svg') }}">Project manager</a>
        <a {# href="/notes" #} class="{{ active == "notes" ? "active" : '' }} disabled"><img src="{{ asset('img/svg/sidebar/note.svg') }}">Notes</a>
        <a href="/messenger" class="{{ active == "messenger" ? "active" : '' }}"><img src="{{ asset('img/svg/sidebar/messenger.svg') }}">Messagerie</a>
        <a href="/settings" class="{{ active == "settings" ? "active" : '' }}"><img src="{{ asset('img/svg/sidebar/settings.svg') }}">Paramètres</a>
        <div class="spacer"></div>
        <a href="/logout" class="logout" ><img src="{{ asset('img/svg/sidebar/log_out.svg') }}">Déconnexion</a>
    </nav>
</aside>