<aside>
    <div class="logo">
        <img src="{{ asset('img/logo.svg') }}" alt="Lodo de Ludine">
        <span>Ludine</span>
    </div>
    <nav>
        <a href="/dashboard"><img src="{{ asset('img/svg/sidebar/dashboard.svg') }}">Dashboard</a>
        <a href="/account"><img src="{{ asset('img/svg/sidebar/account.svg') }}">Comptabilité</a>
        <a href="/calendar"><img src="{{ asset('img/svg/sidebar/calendar.svg') }}">Planning</a>
        <a href="/timer"><img src="{{ asset('img/svg/sidebar/timer.svg') }}">Timer</a>
        <a href="/food" class="active"><img src="{{ asset('img/svg/sidebar/food.svg') }}">Nourriture</a>
        <a href="/project"><img src="{{ asset('img/svg/sidebar/project.svg') }}">Project manager</a>
        <a href="/notes"><img src="{{ asset('img/svg/sidebar/note.svg') }}">Notes</a>
        <a href="/settings"><img src="{{ asset('img/svg/sidebar/settings.svg') }}">Paramètres</a>
        <div class="sidebar-spacer"></div>
        <a href="/logout" class="logout" ><img src="{{ asset('img/svg/sidebar/log_out.svg') }}">Déconnexion</a>
    </nav>
</aside>